.container
  .page-header
    a#top(name="top")
    h1 Memcached Usage
    small a tool help analyzing memcached memory usage in various scenarios.

  .row-fluid
    .span4
      .well
        h3 Scenarios
        ul.nav.nav-pills.nav-stacked
          each func, name in runner.scenarios
            li.scenario 
              a(href="#", data-sname="#{name}") #{name}

    .span8
      .well
        h3 Output
        small Select scenario from left side, then you can see the output it generated.
        hr
        #output(style="min-height: 400px;")
        a.back-to-top(href="#top")
          i.icon-circle-arrow-up
          | Back to top
